<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>
<body>
    <h1>List of Todos</h1>
    <% todos.forEach(todo=>{ %>
        <form action="/api/v1/todos" method="dialog">
            <h3><%= todo.title %></h3>
            <p><%= todo.description %></p>
            <button type="submit">Delete todo</button>
        </form>
    <% }) %>
</body>
</html>